<footer style="background-color: black; color: white; text-align: center; height: 400%; position: relative; top:175px ;height: 60px; line-height: 60px;">
  <p>Made In Horbath Technologies - Hecho como el elefante </p>

</footer>
