<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Horbath Technologies </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api/v1/cliente">Cliente</a></li>
            <li><a class="dropdown-item" href="/api/v1/periodo">Periodo</a></li>
            <li><a class="dropdown-item" href="/api/v1/servicio">Servicio</a></li>
            <li><a class="dropdown-item" href="/api/v1/recurso">Recurso</a></li>
            <li><a class="dropdown-item" href="/api/v1/taorcora">Taorcora</a></li>
            <li><a class="dropdown-item" href="/api/v1/orden">Orden</a></li>
            <li><a class="dropdown-item" href="/api/v1/concorde?orden=0">Concorde</a></li>
            <li><a class="dropdown-item" href="/api/v1/unidad?limit=8&&offset=0">Unidad</a></li>
            <li><a class="dropdown-item" href="/api/v1/vitacora?concepto=0">Vitacora</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link ">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
